<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <script type="module" src="/scripts/main.mjs"></script>
  </head>

  <body>
    <x-site-header url="{{ page.url }}"></x-site-header>
    <main>{{ content | safe }}</main>
  </body>
</html>
